.Catbtns {
  display: flex;
  flex-direction: row;
}
.Catbtnhaver {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.Catbtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff81;
  background-color: transparent;
  border: none;
  outline: none;
}
.Catbtns img {
  width: 32px;
  height: 32px;
}
.Catbtns:focus{
  color: white;
  border-bottom: solid 2px white;
}